<h1>Password Generator</h1>
<div>
  <label>Enter Length</label>
  <input />
</div>

<div>
  <label>Use Letters</label>
  <input
    [checked]="includeLetters"
    (change)="onChangeUseLetters()"
    type="checkbox"
  />
</div>
<div>
  <label>Use Numbers</label>
  <input
    [checked]="includeNumbers"
    (change)="onChangeUseNumbers()"
    type="checkbox"
  />
</div>
<div>
  <label>Use Symbols</label>
  <input
    [checked]="includeSymbols"
    (change)="onChangeUseSymbols()"
    type="checkbox"
  />
</div>

<div>
  <!-- Event binding: Here "click" is an event of the button -->
  <button (click)="onButtonClick()">Generate!</button>
</div>
<div>
  <label>Your Password</label>
  <!-- Property Binding: Here "value" is a property of the input -->
  <input [value]="password" />
</div>
<!-- Interpolation {{ password }} -->
